.App{
  height: 100vh;
}

.logo-bice{
  height: 200px;
  background-image: url(./images/bice-tres.png);
  background-size: contain;
  background-repeat: no-repeat;
  
}
.main-card{
  border: none;
}

.card{
  width: 330px;
  height: 464px;
  background: #FFFFFF;
  border-radius: 8px;
}

.card-imagen{
  width: 328px;
  height: 300px;
  border: 1px solid pink;
}

.card-base{
  width: 328px;
  height:172px;
  background: #FFFFFF;
  border: 1px solid #DDE3ED;
  border-radius: 8px;
}

.titulo{
  width: 216px;
  height: 24px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #060B25;
}

.label{
  display:flex;
  align-items: center;
  width: 52px;
  height: 20px;
  background: #1F61F7;
  border-radius: 4px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: #F5F7FA;
}

.parrafo{
  width: 51px;
  height: 24px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #58606E;
}

.bitcoins{
  border: 1px solid grey;
  overflow: scroll;
  height: 50px;
}

.captain-image{
  background-image: url(./images/seguro-covid.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: auto;
  border: 1px solid rgb(230, 224, 224);
  box-shadow: grey;
}